@import "../../scss/colors";
@import "../../scss/variables";

.resize {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 32px;
  height: 32px;

  &:active {
   @extend %borderActive
  }

  svg {
    width: 20px;
    height: 20px;
    stroke: $text-black;
    @extend %transition;
  }

  &:hover {
    svg {
      stroke: $bg-blue;
    }
  }
}