@import "../../scss/colors";
@import "../../scss/variables";

.auth {
  background-color: $bg-gray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &-main {
    position: relative;
    transition: .5s ease-in-out;
    transform: translateY(0);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
  }

  &.entered {
    .auth-main {
      transform: translateY(-100vh);
    }
  }

  &-form {
    background-color: #fff;
    width: 520px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
    padding: 40px 30px;
    max-width: 100%;
    min-width: 360px;
    @media screen and (max-width: 575px) {
      padding: 30px 20px;
    }

    form {
      label {
        font-weight: normal;
      }
    }
  }
}
