.dragResizer {
  display: flex;
  align-items: center;
  width: 15px;
  min-width: 15px;

  > div {
    height: 100%;
    cursor: col-resize;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    svg {
      fill: rgba(0, 0, 0, .2);
      transition: .2s ease-in;
    }

    &:hover {
      svg {
        fill: #999999;
      }
    }
  }
}