.scroll {
  display: flex;
  height: 100%;
  position: relative;
  overflow-x: scroll;
  max-width: calc(100vw - 68px);
  @media screen and (max-width: 1330px) {
    max-width: 100%;
  }
  z-index: 1;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.plug {
  min-width: 40px;
}