.Copy {
  position: absolute;
  background: #F6F6F6;
  font-size: 12px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  border-radius: 5px;
  top: 0;
}