.menu {
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  position: fixed;
  z-index: 1;
  height: 141px;

  display: none;

  .item {

    padding: 5px 0;  text-align: left;
    padding: 0 10%;
    height: 40px;
    display: flex;
    align-items: center;
  }

  .primary {
    &:hover {
      background: blue;
    }
  }
}