@import "../../scss/colors";

.auth {
  background-color: $bg-gray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  &-form {
    background-color: #fff;
    width: 520px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
    padding: 40px 30px;
    max-width: 100%;
    min-width: 360px;
    @media screen and (max-width: 575px) {
      padding: 30px 20px;
    }


    &__group {
      margin: 20px 0;

      &_error {
        label {
          color: $danger;
        }

        input {
          border: 1px solid $danger;
          box-shadow: 0px 0px 5px $danger-shadow;
        }
      }

      input[type='password']{
        //font-size: 50px;
        //height: 40px;
        //padding: 0 10px 8px;
        //line-height: 20px;
        //color: transparent;
        //-webkit-text-fill-color: $text-black;
      }
    }




    form {
      label {
        font-weight: normal;
      }
    }

  }

  &-error {
    background-color: $bg-error;
    padding: 15px 12px;
    margin-top: 20px;
    border-radius: 5px;

    &__description {
      margin-left: 10px;
    }

    &__head {
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      color: $danger;

    }

    &__body {
      font-size: 12px;
      color: $danger;
      opacity: .5;
      margin-top: 5px;
    }
  }
}
