//backgrounds
$bg-gray: #e5e5e5;
$bg-console: #f6f6f6;
$bg-error: rgba(207, 44, 0, 0.1);

//other
$text-black: #0d0d0d;
$danger-shadow: rgba(207, 44, 0, 0.5);

//statuses
$success: #30B800;
$danger: #CF2C00;
